<html>
<head>
  <title>About</title>
  <style>
    a{text-decoration:none;}
    p.elevator{padding: 1cm;}
    </style>
  </head>
<body>
   <font face = "Lucida Sans Unicode">
<p align= "right"><a href="http://www.tigerbites.org/"><font color = "black">return to TigerBites</font></a></p>
<center><a href="http://tigerbites.org"><img src = "http://www.princeton.edu/~yktwo/logo13.png"></a></center>
<hr>


<p class = "elevator"><i>TigerBites notifies users via email when their “favorited” dining items are served at one of the dining halls. Emails are sent 1-2 hours before each meal. Users can view daily menus on our website, and afer logging in, can also add dining items to their lists of favorites by clicking a plus sign beside a dining item. Users can also search items from all past dining items to add to or remove from their favorites. Under "favorites" tab, users can easily manage their favorited items.</i></p>

<br>
<center><p><strong>Here is a demo video you can watch:</strong></p>
<iframe width="420" height="315" src="//www.youtube.com/embed/ts077zHmr8Y?rel=0" frameborder="0" allowfullscreen></iframe></center>
<center><p><strong>You can easily add and remove items to your favorites once you log in using your netID. When your favorited items become available, you will receive an email notification 1-2 hrs before the meail is served.</strong></p>



<br><br>
<center><p><strong>These are some sample emails:</strong></p>
 <center><img src = "http://www.princeton.edu/~yktwo/sampleemail.png" width="200" height="400"><img src = "http://www.princeton.edu/~yktwo/sampleemail2.png" width="200" height="400"><br></center>
  <center><p><strong>Emails are organized by dining halls, and when an item similar to your favorited item is available, you will be notified.</strong></p>

    <br><br>
    <center><p><strong>You can also use TigerBites on your phone!</strong></p>
      <center><img src = "http://www.princeton.edu/~yktwo/mdemo1.png"><img src = "http://www.princeton.edu/~yktwo/mdemo2.png"><img src = "http://www.princeton.edu/~yktwo/mdemo3.png"><img src = "http://www.princeton.edu/~yktwo/mdemo4.png"></center>

      <br><br>
      <p><center> Contact us at: princetontigerbites@gmail.com </center></p>

      </body>
</html>
