<!DOCTYPE html>
<html>


<head>

<style type="text/css">
#ToggleTarget {
display: none;
}
#ToggleTarget2 {
display: none;
}
#ToggleTarget3 {
display: none;
}
#ToggleRocky {
  display: none;
}
#ToggleWilson {
  display: none;
}
#ToggleWhitman {
  display: none;
}
#ToggleForbes {
  display: none;
}
#ToggleCJL {
  display: none;
}
#ToggleGrad {
  display: none;
}
#ToggleRocky2 {
  display: none;
}
#ToggleWilson2 {
  display: none;
}
#ToggleWhitman2 {
  display: none;
}
#ToggleForbes2 {
  display: none;
}
#ToggleCJL2 {
  display: none;
}
#ToggleGrad2 {
  display: none;
}
#ToggleRocky3 {
  display: none;
}
#ToggleWilson3 {
  display: none;
}
#ToggleWhitman3 {
  display: none;
}
#ToggleForbes3 {
  display: none;
}
#ToggleCJL3 {
  display: none;
}
#ToggleGrad3 {
  display: none;
}
.hr_mod {
margin:5px;
}

.pale {

  background:PapayaWhip;
}

.gray {

  background:White;
}
.ctr {
  text-align: center;
  list-style-type: none;
}

.meal_spanner{
position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 0;
}
.dhall_spanner{
position:absolute;
width:100%;
height:100%;
top:5;
left:0;
z-index:0;
}
.fav_spanner{
position:relative;
width:100%;
height:100%;
top:10;
left:0;
z-index:100;
}

</style>

<script type="text/javascript">
function Toggle1() {
var breakfast = document.getElementById("ToggleTarget");
if (breakfast.style.display == "block") {
breakfast.style.display = "none";
}
else {
breakfast.style.display = "block";
}
}

function Toggle2() {
var lunch = document.getElementById("ToggleTarget2");
if (lunch.style.display == "block") {
lunch.style.display = "none";
}
else {
lunch.style.display = "block";
}
}

function Toggle3() {
var dinner = document.getElementById("ToggleTarget3");
if (dinner.style.display == "block") {
dinner.style.display = "none";
}
else {
dinner.style.display = "block";
}
}

function ToggleRocky() {
  var dhall = document.getElementById("ToggleRocky");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson() {
  var dhall = document.getElementById("ToggleWilson");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman() {
  var dhall = document.getElementById("ToggleWhitman");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes() {
  var dhall = document.getElementById("ToggleForbes");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL() {
  var dhall = document.getElementById("ToggleCJL");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad() {
  var dhall = document.getElementById("ToggleGrad");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}

function ToggleRocky2() {
  var dhall = document.getElementById("ToggleRocky2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson2() {
  var dhall = document.getElementById("ToggleWilson2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman2() {
  var dhall = document.getElementById("ToggleWhitman2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes2() {
  var dhall = document.getElementById("ToggleForbes2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL2() {
  var dhall = document.getElementById("ToggleCJL2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad2() {
  var dhall = document.getElementById("ToggleGrad2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}

function ToggleRocky3() {
  var dhall = document.getElementById("ToggleRocky3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson3() {
  var dhall = document.getElementById("ToggleWilson3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman3() {
  var dhall = document.getElementById("ToggleWhitman3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes3() {
  var dhall = document.getElementById("ToggleForbes3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL3() {
  var dhall = document.getElementById("ToggleCJL3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad3() {
  var dhall = document.getElementById("ToggleGrad3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}



</script>



<style>
.fit {
  max-width: 100%;
  max-height: 100%;
}
    
.btn {
    font-family: "Courier New", Courier, monospace; font-weight: bold;font-size: 130%;
    margin-bottom: 0.2em; text-align:center;
}
.btn:hover {
color: #4472b9;
}


</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>Tiger Bites</title>


  <link rel="stylesheet" href="//cloud.typography.com/610186/691184/css/fonts.css">

  <!--[if !IE]><!-->
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/style.css?v=2.3">
  <!--<![endif]-->
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/css/oldie.css">
  <![endif]-->
  <!--[if IE 9]>
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/style.css?v1.2">
  <![endif]-->
  
</head>

<body class="gray"> 
  <div class="page-wrap">
    <header>
      {% if loggedin %}
       <p align= "right"><a href="http://www.tigerbites.org/accounts/logout"><font color = "black">Log Out</font></a></p>
       {% else %}
       <p align="right"><a href="http://www.tigerbites.org/accounts/login"><font color = "black">Log In</font></a></p>
       {% endif %}  
    <center><a href="http://tigerbites.org"><img class = "fit" src = "http://www.princeton.edu/~yktwo/logo13.png"></a></center>
</header>


    <nav class="main-nav ctr">

   <a href="/" class="home">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Menus</span>
  </a>
  <a href="/search/" class="videos">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Search</span>
  </a>
  <a href="/favorites/" class="almanac">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Favorites</span>
  </a>

</nav>
    <div class="content-wrap">
<div class="grid group video-archive-list pale">


<div class="grid group">

  <section class="blog-posts grid-1-1">
    {% if loggedin %}

    {% if added%}
    <p><strong>** {{ added }} was added to your <a href = "/favorites/">favorites</a> **</strong></p>
    {% endif %}
    {% if removed %}
    <p><strong>** {{ removed }} was removed from your <a href = "/favorites/">favorites</a> **</strong></p>
    {% endif %}



    {% for dhall, meal, item in menu %}
    {% for i in item %}
    {% if i.name in favorites %}
    <strong>{{i.name}}</strong> is being served by {{dhall}} today for {{meal}} <br>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <br>
    {% endif %}
          <p>&#8594; Click on the meals below to view menus</p><br>

        {% if bf %}
        <article class="module module-blogpost">
      <h2><a href="javascript:Toggle1();">Breakfast <span class="meal_spanner"></span></a></h2>
        <div id="ToggleTarget">
        <ul>
            {% for dhall, meal, item in menu %}
            {% if meal == "BREAKFAST" %}
            {% if dhall == "ROCKY" %}
          <hr class="hr_mod"><li><a href="javascript:ToggleRocky();">Rocky / Mathey<span class="dhall_spanner"></span> </a></li>
	  <div id="ToggleRocky">
	                          {% for i in item %}
				                            {% if i.name in favorites %}
				                                   <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value ="Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
								                 {% else %}
								                 <form action = "" method = "POST"> {% csrf_token %}
                  <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
										                            {% endif %}
										                          {% endfor %}
         <br>
        </div>
          
          
         {% elif dhall == "WILSON" %}
	          <hr class="hr_mod"><li><a href="javascript:ToggleWilson();"> Wilson / Butler <span class="dhall_spanner"></span></a></li>
      <div id="ToggleWilson">
        {% for i in item %}
                  {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% endif %}
        {% endfor %}
        <br>
      </div>
        
      
          {% elif dhall == "WHITMAN" %}
        <hr class="hr_mod"><li><a href="javascript:ToggleWhitman();">Whitman<span class="dhall_spanner"></span></a></li>
      <div id="ToggleWhitman">
        {% for i in item %}
                  {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% endif %}
        {% endfor %}
        <br>
      </div>
        
      
        {% elif dhall == "FORBES" %}
        <hr class="hr_mod"><li><a href="javascript:ToggleForbes();">Forbes<span class="dhall_spanner"></span></a></li>
      <div id="ToggleForbes">
        {% for i in item %}
                  {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% endif %}
        {% endfor %}
        <br>
      </div>
        

       {% elif dhall == "CJL" %}
      <hr class="hr_mod"><li><a href="javascript:ToggleCJL();">Center for Jewish Life<span class="dhall_spanner"></span></a></li>
      <div id="ToggleCJL">
        {% for i in item %}
                  {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% endif %}
        {% endfor %}
      <br></div>
        

          {% elif dhall == "GRADCOLLEGE" %}
        <hr class="hr_mod"><li><a href="javascript:ToggleGrad();">Graduate College<span class="dhall_spanner"></span></a></li>
      <div id="ToggleGrad">
        {% for i in item %}
                  {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}<span class="fav_spanner"</span></form>
    {% endif %}
        {% endfor %}
        <hr class="hr_mod"><br>
      </div>
        
    </ul>
	</div>
       {% endif %}
        {% endif %}
        {% endfor %}
        </article>
        {% endif %}
        
        {% if lc %}
        <article class="module module-blogpost">
          {% if bf %}
          <h2><a href="javascript:Toggle2();">Lunch</a></h2>
          {% else %}
          <h2><a href="javascript:Toggle2();">Brunch</a></h2>
          {% endif %}
      <div id="ToggleTarget2">
        <ul>
        
          {% for dhall, meal, item in menu %}
          {% if meal == "LUNCH" %}
          {% if dhall == "ROCKY" %}
          
          <li><a href="javascript:ToggleRocky2();">Rocky / Mathey</a></li><hr class="hr_mod">
        <div id="ToggleRocky2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>
          
          {% elif dhall == "WILSON" %}
          <li><a href="javascript:ToggleWilson2();">Wilson / Butler</a></li><hr class="hr_mod">
        <div id="ToggleWilson2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>

          

          {% elif dhall == "WHITMAN" %}
          <li><a href="javascript:ToggleWhitman2();">Whitman</a></li><hr class="hr_mod">
        <div id="ToggleWhitman2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>

        

         {% elif dhall == "FORBES" %}
          <li><a href="javascript:ToggleForbes2();">Forbes</a></li>
        <div id="ToggleForbes2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>
          

        
          {% elif dhall == "CJL" %}
          <li><a href="javascript:ToggleCJL2();">Center for Jewish Life</a></li>
        <div id="ToggleCJL2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>
          

        
          {% elif dhall == "GRADCOLLEGE" %}
          <li><a href="javascript:ToggleGrad2();">Graduate College</a></li>
        <div id="ToggleGrad2">
          {% for i in item %}
                    {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                  <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
          {% endfor %}
          <br>
        </div>
          
      </ul>
	</div>
          {% endif %}
          {% endif %}
          {% endfor %}
        </article>
          {% endif %}

          {% if dn %}
        <article class="module module-blogpost">
          <h2><a href="javascript:Toggle3();">Dinner</a></h2>
      <div id="ToggleTarget3">
          <ul>
          
            {% for dhall, meal, item in menu %}
            {% if meal == "DINNER" %}

            {% if dhall == "ROCKY" %}
            <li><a href="javascript:ToggleRocky3();">Rocky / Mathey</a></li>
          <div id="ToggleRocky3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>
            

            {% elif dhall == "WILSON" %}
            <li><a href="javascript:ToggleWilson3();">Wilson / Butler</a></li>
          <div id="ToggleWilson3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>

            
            {% elif dhall == "WHITMAN" %}
            <li><a href="javascript:ToggleWhitman3();">Whitman</a></li>
          <div id="ToggleWhitman3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
               <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>
            


            {% elif dhall == "FORBES" %}
            <li><a href="javascript:ToggleForbes3();">Forbes</a></li>
          <div id="ToggleForbes3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
               <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>


            {% elif dhall == "CJL" %}
            <li><a href="javascript:ToggleCJL3();">Center for Jewish Life</a></li>
          <div id="ToggleCJL3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>
            


            {% elif dhall == "GRADCOLLEGE" %}
            <li><a href="javascript:ToggleGrad3();">Graduate College</a></li>
          <div id="ToggleGrad3">
            {% for i in item %}
                      {% if i.name in favorites %}
           <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">-</button>
                 <input type = "hidden" name = "removeItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% else %}
      <form action = "" method = "POST"> {% csrf_token %}
                 <button class = "btn" type = "submit" value = "Submit">+</button>
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;{{i.name}}</form>
    {% endif %}
            {% endfor %}
            <br>
          </div>
            
        </ul>

	            </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        </article>

      {% endif %}


  </section>

</div>
    </div>  


  </div>
  <svg class="hide">

  <defs>

    <path id="shape-tab" d="M80,25C79.568,25,84.815,0,67,0H11.149C5.027,0,0,4.634,0,10.385V25"/>

  </defs>

</svg>

  <br>
  <p><center> Contact us at: princetontigerbites@gmail.com </center></p>
</body>

</html>
