<!DOCTYPE html>
<html>


<head>

<style type="text/css">
#ToggleTarget {
display: none;
}
#ToggleTarget2 {
display: none;
}
#ToggleTarget3 {
display: none;
}
#ToggleRocky {
  display: none;
}
#ToggleWilson {
  display: none;
}
#ToggleWhitman {
  display: none;
}
#ToggleForbes {
  display: none;
}
#ToggleCJL {
  display: none;
}
#ToggleGrad {
  display: none;
}
#ToggleRocky2 {
  display: none;
}
#ToggleWilson2 {
  display: none;
}
#ToggleWhitman2 {
  display: none;
}
#ToggleForbes2 {
  display: none;
}
#ToggleCJL2 {
  display: none;
}
#ToggleGrad2 {
  display: none;
}
#ToggleRocky3 {
  display: none;
}
#ToggleWilson3 {
  display: none;
}
#ToggleWhitman3 {
  display: none;
}
#ToggleForbes3 {
  display: none;
}
#ToggleCJL3 {
  display: none;
}
#ToggleGrad3 {
  display: none;
}

.pale {

  background:PapayaWhip;
}

.gray {

  background:SlateGray;
}


</style>

<script type="text/javascript">
function Toggle1() {
var breakfast = document.getElementById("ToggleTarget");
if (breakfast.style.display == "block") {
breakfast.style.display = "none";
}
else {
breakfast.style.display = "block";
}
}

function Toggle2() {
var lunch = document.getElementById("ToggleTarget2");
if (lunch.style.display == "block") {
lunch.style.display = "none";
}
else {
lunch.style.display = "block";
}
}

function Toggle3() {
var dinner = document.getElementById("ToggleTarget3");
if (dinner.style.display == "block") {
dinner.style.display = "none";
}
else {
dinner.style.display = "block";
}
}

function ToggleRocky() {
  var dhall = document.getElementById("ToggleRocky");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson() {
  var dhall = document.getElementById("ToggleWilson");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman() {
  var dhall = document.getElementById("ToggleWhitman");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes() {
  var dhall = document.getElementById("ToggleForbes");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL() {
  var dhall = document.getElementById("ToggleCJL");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad() {
  var dhall = document.getElementById("ToggleGrad");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}

function ToggleRocky2() {
  var dhall = document.getElementById("ToggleRocky2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson2() {
  var dhall = document.getElementById("ToggleWilson2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman2() {
  var dhall = document.getElementById("ToggleWhitman2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes2() {
  var dhall = document.getElementById("ToggleForbes2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL2() {
  var dhall = document.getElementById("ToggleCJL2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad2() {
  var dhall = document.getElementById("ToggleGrad2");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}

function ToggleRocky3() {
  var dhall = document.getElementById("ToggleRocky3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWilson3() {
  var dhall = document.getElementById("ToggleWilson3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleWhitman3() {
  var dhall = document.getElementById("ToggleWhitman3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleForbes3() {
  var dhall = document.getElementById("ToggleForbes3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleCJL3() {
  var dhall = document.getElementById("ToggleCJL3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}
function ToggleGrad3() {
  var dhall = document.getElementById("ToggleGrad3");
  if (dhall.style.display == "block") {
    dhall.style.display = "none";
  }
  else {
    dhall.style.display = "block";
  }
}



</script>



<style>
.fit {
  max-width: 100%;
  max-height: 100%;
}


</style>

<meta charset="UTF-8">


<title>Tiger Bites</title>


  <link rel="stylesheet" href="//cloud.typography.com/610186/691184/css/fonts.css">

  <!--[if !IE]><!-->
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/style.css?v=2.3">
  <!--<![endif]-->
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/css/oldie.css">
  <![endif]-->
  <!--[if IE 9]>
  <link rel="stylesheet" href="http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-11/style.css?v1.2">
  <![endif]-->
  
</head>

 

<body class="home gray"> 
  <div class="page-wrap">
    <header>
      <p align="right"><a href="http://www.tigerbites.org/accounts/login"><font color = "white">Log in!</font></a><br>
      <a href="http://www.tigerbites.org/accounts/logout"><font color = "white">Log out!</font></a></p>
    <center><a href="http://tigerbites.org"><img class = "fit" src = "http://www.princeton.edu/~yktwo/logo1.png"></a></center>
</header>


    <nav class="main-nav">

   <a href="/" class="home">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Menus</span>
  </a>
  <a href="/search/" class="videos">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Search</span>
  </a>
  <a href="/favorites/" class="almanac">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Favorites</span>
  </a>
  <a href="/suggestions/" class="snippets">
    <svg viewBox="0 0 100 25" class="shape-tab">
      <use xlink:href="#shape-tab"></use>
    </svg>
    <span>Suggestions</span>
  </a>

</nav>
    <div class="content-wrap">
<div class="grid group video-archive-list pale">


<div class="grid group">

  <section class="blog-posts grid-1-1">
     

          <p>Click on the meals below to see menus</p><br>



        <article class="module module-blogpost">
      <h2><a href="javascript:Toggle1();">Breakfast</a></h2>
        <div id="ToggleTarget">
        <ul>
        <li><a href="javascript:ToggleRocky();">Rocky / Mathey</a></li>
        <div id="ToggleRocky">
          {% for dhall, meal, item in menu %}
                {% if dhall == "ROCKY" %}
          {% if meal == "BREAKFAST" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

      <li><a href="javascript:ToggleWilson();">Wilson / Butler</a></li>
      <div id="ToggleWilson">
        {% for dhall, meal, item in menu %}
              {% if dhall == "WILSON" %}
        {% if meal == "BREAKFAST" %}
        {% for i in item %}
              <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                 <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% comment %}
        {% if item_and_mealtime.dhall = "ROCKY" %}
        {% if item_and_mealtime.dhall = "WHITMAN" %}
              {% if item_and_mealtime.dhall = "FORBES" %}
              {% if item_and_mealtime.dhall = "CJL" %}
        {% endif %}
        {% endcomment %}
        {% endfor %}
        <br>
      </div>


      <li><a href="javascript:ToggleWhitman();">Whitman</a></li>
      <div id="ToggleWhitman">
        {% for dhall, meal, item in menu %}
              {% if dhall == "WHITMAN" %}
        {% if meal == "BREAKFAST" %}
        {% for i in item %}
              <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% comment %}
        {% if item_and_mealtime.dhall = "ROCKY" %}
        {% if item_and_mealtime.dhall = "WILSON" %}
              {% if item_and_mealtime.dhall = "FORBES" %}
              {% if item_and_mealtime.dhall = "CJL" %}
        {% endif %}
        {% endcomment %}
        {% endfor %}
        <br>
      </div>


      <li><a href="javascript:ToggleForbes();">Forbes</a></li>
      <div id="ToggleForbes">
        {% for dhall, meal, item in menu %}
              {% if dhall == "FORBES" %}
        {% if meal == "BREAKFAST" %}
        {% for i in item %}
              <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% comment %}
        {% if item_and_mealtime.dhall = "ROCKY" %}
        {% if item_and_mealtime.dhall = "WILSON" %}
              {% if item_and_mealtime.dhall = "WHITMAN" %}
              {% if item_and_mealtime.dhall = "CJL" %}
        {% endif %}
        {% endcomment %}
        {% endfor %}
        <br>
      </div>

      <li><a href="javascript:ToggleCJL();">Center for Jewish Life</a></li>
      <div id="ToggleCJL">
        {% for dhall, meal, item in menu %}
              {% if dhall == "CJL" %}
        {% if meal == "BREAKFAST" %}
        {% for i in item %}
              <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% comment %}
        {% if item_and_mealtime.dhall = "ROCKY" %}
        {% if item_and_mealtime.dhall = "WHITMAN" %}
              {% if item_and_mealtime.dhall = "FORBES" %}
              {% if item_and_mealtime.dhall = "WILSON" %}
        {% endif %}
        {% endcomment %}
        {% endfor %}
        <br>
      </div>

      <li><a href="javascript:ToggleGrad();">Graduate College</a></li>
      <div id="ToggleGrad">
        {% for dhall, meal, item in menu %}
              {% if dhall == "GRADCOLLEGE" %}
        {% if meal == "BREAKFAST" %}
        {% for i in item %}
              <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% comment %}
        {% if item_and_mealtime.dhall = "ROCKY" %}
        {% if item_and_mealtime.dhall = "WHITMAN" %}
              {% if item_and_mealtime.dhall = "FORBES" %}
              {% if item_and_mealtime.dhall = "WILSON" %}
        {% endif %}
        {% endcomment %}
        {% endfor %}
        <br>
      </div>
    </ul>

        </article>


        <article class="module module-blogpost">

          <h2><a href="javascript:Toggle2();">Lunch</a></h2>
      <div id="ToggleTarget2">
        <ul>
        <li><a href="javascript:ToggleRocky2();">Rocky / Mathey</a></li>
        <div id="ToggleRocky2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "ROCKY" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

        <li><a href="javascript:ToggleWilson2();">Wilson / Butler</a></li>
        <div id="ToggleWilson2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "WILSON" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "ROCKY" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

        <li><a href="javascript:ToggleWhitman2();">Whitman</a></li>
        <div id="ToggleWhitman2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "WHITMAN" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "ROCKY" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

        <li><a href="javascript:ToggleForbes2();">Forbes</a></li>
        <div id="ToggleForbes2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "FORBES" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "ROCKY" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

        <li><a href="javascript:ToggleCJL2();">Center for Jewish Life</a></li>
        <div id="ToggleCJL2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "CJL" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "ROCKY" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>

        <li><a href="javascript:ToggleGrad2();">Graduate College</a></li>
        <div id="ToggleGrad2">
          {% for dhall, meal, item in menu %}
                {% if dhall == "GRADCOLLEGE" %}
          {% if meal == "LUNCH" %}
          {% for i in item %}
                <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% comment %}
          {% if item_and_mealtime.dhall = "WILSON" %}
          {% if item_and_mealtime.dhall = "WHITMAN" %}
                {% if item_and_mealtime.dhall = "FORBES" %}
                {% if item_and_mealtime.dhall = "CJL" %}
          {% endif %}
          {% endcomment %}
          {% endfor %}
          <br>
        </div>
      </ul>

        </article>


        <article class="module module-blogpost">
          <h2><a href="javascript:Toggle3();">Dinner</a></h2>
      <div id="ToggleTarget3">
          <ul>
          <li><a href="javascript:ToggleRocky3();">Rocky / Mathey</a></li>
          <div id="ToggleRocky3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "ROCKY" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "WILSON" %}
            {% if item_and_mealtime.dhall = "WHITMAN" %}
                  {% if item_and_mealtime.dhall = "FORBES" %}
                  {% if item_and_mealtime.dhall = "CJL" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>

          <li><a href="javascript:ToggleWilson3();">Wilson / Butler</a></li>
          <div id="ToggleWilson3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "WILSON" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "ROCKY" %}
            {% if item_and_mealtime.dhall = "WHITMAN" %}
                  {% if item_and_mealtime.dhall = "FORBES" %}
                  {% if item_and_mealtime.dhall = "CJL" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>

          <li><a href="javascript:ToggleWhitman3();">Whitman</a></li>
          <div id="ToggleWhitman3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "WHITMAN" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "WILSON" %}
            {% if item_and_mealtime.dhall = "ROCKY" %}
                  {% if item_and_mealtime.dhall = "FORBES" %}
                  {% if item_and_mealtime.dhall = "CJL" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>

          <li><a href="javascript:ToggleForbes3();">Forbes</a></li>
          <div id="ToggleForbes3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "FORBES" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "WILSON" %}
            {% if item_and_mealtime.dhall = "WHITMAN" %}
                  {% if item_and_mealtime.dhall = "ROCKY" %}
                  {% if item_and_mealtime.dhall = "CJL" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>

          <li><a href="javascript:ToggleCJL3();">Center for Jewish Life</a></li>
          <div id="ToggleCJL3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "CJL" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "WILSON" %}
            {% if item_and_mealtime.dhall = "WHITMAN" %}
                  {% if item_and_mealtime.dhall = "FORBES" %}
                  {% if item_and_mealtime.dhall = "ROCKY" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>

          <li><a href="javascript:ToggleGrad3();">Graduate College</a></li>
          <div id="ToggleGrad3">
            {% for dhall, meal, item in menu %}
                  {% if dhall == "GRADCOLLEGE" %}
            {% if meal == "DINNER" %}
            {% for i in item %}
                  <form action = "" method = "POST"> {% csrf_token %}
                  <input type = "submit" value = "Add">
                  <input type = "hidden" name = "addItem" value = '{{i.name}}'>
                &emsp;&emsp;&emsp;{{i.name}}</form>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% comment %}
            {% if item_and_mealtime.dhall = "WILSON" %}
            {% if item_and_mealtime.dhall = "WHITMAN" %}
                  {% if item_and_mealtime.dhall = "FORBES" %}
                  {% if item_and_mealtime.dhall = "CJL" %}
            {% endif %}
            {% endcomment %}
            {% endfor %}
            <br>
          </div>
        </ul>




        </article>

      


  </section>

</div>
    </div>  


  </div>
  <svg class="hide">

  <defs>

    <path id="shape-tab" d="M100,25C79.568,25,84.815,0,59.692,0H11.149C5.027,0,0,4.634,0,10.385V25"/>

    <path id="shape-tab-right" d="M0,25C20.432,25,15.185,0,40.308,0h48.543C94.973,0,100,4.634,100,10.385V25"/>



  </defs>

</svg>



</body>

</html>
