{% if menus %}
<html><head>
<title>Toggle Test</title>

<style type="text/css">
#ToggleTarget {
display: none;
}
#ToggleTarget2 {
display: none;
}
#ToggleTarget3 {
display: none;
}
</style>

<script type="text/javascript">
function Toggle1() {
var breakfast = document.getElementById("ToggleTarget");
if (breakfast.style.display == "block") {
breakfast.style.display = "none";
}
else {
breakfast.style.display = "block";
}
}

function Toggle2() {
var lunch = document.getElementById("ToggleTarget2");
if (lunch.style.display == "block") {
lunch.style.display = "none";
}
else {
lunch.style.display = "block";
}
}

function Toggle3() {
var dinner = document.getElementById("ToggleTarget3");
if (dinner.style.display == "block") {
dinner.style.display = "none";
}
else {
dinner.style.display = "block";
}
}




</script>
<script type="text/javascript" src="chrome-extension://bfbmjmiodbnnpllbbbfblcplfjjepjdn/js/injected.js"></script><style type="text/css"></style></head>

<body style="">

<center><p><a href="javascript:Toggle1();">Breakfast</a></p>
<div id="ToggleTarget">Some breakfast food<br>And more breakfast foods.</div>

<hr>

 
  <p><a href="javascript:Toggle2();">Lunch</a></p>
  <div id="ToggleTarget2">
    {% for dhall_item in menus %}                                                 
    {% if dhall_item.meal == "LUNCH" %}                                           
{% for item in dhall_item.menus %} 
    {{ item.name }}<br>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
  <hr>
  
  <p><a href="javascript:Toggle3();">Dinner</a></p>
  
  <div id="ToggleTarget3">Some dinner food<br>And more dinner foods.</div></center>

<hr>


</body></html>
{% endif %}
